@using Microsoft.AspNetCore.Html
@using QA.TNGo_v2.Models
@model QA.TNGo_v2.Models.BlogManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var categories = (List<Category>)ViewData["Category"];
    Layout = "~/Views/Shared/_Admin.cshtml";
    var str = new HtmlString(@Model.Content);
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BlogManager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @str
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Banner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Banner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category_ID)
        </dt>
        <dd>
            @if (categories != null)
            {
                @foreach (var cate in categories)
                {
                    @if (cate.ID == Model.Category_ID)
                    {
                        @cate.Name
                    }
                }
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger my-3" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
